body
  background-color #f5f5f5

#page-header.full_page
  background-size contain !important
  background-position center !important
  background-repeat no-repeat !important
  background-color #000 !important
  background-attachment fixed

#page-header.full_page::before
  content ''
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0.4) !important
  z-index 1

#page-header.full_page .site-title
  position relative
  z-index 2

#page-header.full_page .site-subtitle
  position relative
  z-index 2


/* ✅ 一定要獨立出來（不能縮排錯） */
#site-info
  text-align center
  position relative
  z-index 2


/* 跑馬燈 */
.marquee-wrapper
  margin-top 10px
  width 100%
  overflow hidden
  display flex
  justify-content center

.marquee
  white-space nowrap
  color #00ff9c
  text-shadow 0 0 5px #00ff9c, 0 0 10px #00ff9c
  font-size 18px
  font-family monospace
  animation marquee 12s linear infinite


@keyframes marquee
  0%
    transform translateX(100%)
  100%
    transform translateX(-100%)